doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Название страницы
    link(rel="stylesheet", href="styles/main.css")
  body.bg-gray.vh-100.p-sm-4
    .container-xxl.rounded-3.overflow-hidden.h-100
      .row.h-100.bg-white
        .col-12.col-sm-4.border-end
          .row.bg-primary
            .col-12
            p Nav
          .row
            .col-12.px-4.pt-5 
              p Contact
        .col-8.d-none.d-sm-block
          p Chat